@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.main-header{
    background-color: #f8f5f6;
    padding: 5px;
    box-shadow: 5px 5px 5px #d8d6d6;
}
.logo{
    font-family: Abril Fatface;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.main-header{
    display: flex;
    justify-content: space-between;
}
.right-icons{
    display: flex;
    justify-content: space-evenly;
    column-gap: 15px;
    align-items: center;
}

