.navbar{
    background-color: rgb(227, 12, 112);
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 8px;
    
}
.formi{
    display: flex;
    column-gap: 20px;
    justify-content: end;
    
}
.gift{
    display: flex;
    justify-content: start;
}
